{% extends "interface/layout.html" %}

{% block body %}
    {% for dispenser in dispensers %}
        <div class="row">
          {% if dispenser.product.image %}
          <div class="col-sm-2">
            <img src="{{ dispenser.product.image }}">
          </div>
          {% endif %}
          <div class="col-sm-8">
              <h1><a href='/product/{{ dispenser.product.id }}'>{{ dispenser.product.name }}</a></h1>
              <p><strong>${{ dispenser.product.price }}/oz.</strong></p>
              <p>{{ dispenser.product.details }}</p>
          </div>
        </div>
        <hr />
    {% endfor %}

    <a href='/admin'>Store staff login</a>
{% endblock %}
