{% extends "interface/layout.html" %}

{% block body %}
<div class="row">
  {% if product.image %}
  <div class="col-sm-2">
    <img src="{{ product.image }}">
  </div>
  {% endif %}
  <div class="col-sm-8">
      <h1>{{ product.name }}</h1>
      <h4><strong>${{ product.price }}/oz.</strong></h4>
      <p>{{ product.details }}</p>

      <form action="/product/{{ product.id }}" method="post">
      {% csrf_token %}
        <button type="submit" id="start" name="start" value="start" class="btn btn-success">Start dispensing</button>
      </form>
  </div>
</div>




{% endblock %}
